body{
    color:red;
    font-family: "Arial";
    text-align: center;
    border: solid green 1px;
}
.container{
    border: solid green 1px;
}

.cabecera{
    color: blueviolet;
    border: solid yellow 1px;
}